<div class="error-container">
    <p class="error-container__text">Oops, film not found!</p>
    <img  class="error-container__img" src="./optimized-jpg/not-found-min.jpg" width="346" height="220"/>
</div>