<div class='footer-lightbox__card lightbox__card'>
  <button
    type='button'
    class='footer-lightbox__close-btn lightbox__close-btn'
    data-action='close-lightbox'
  >
    <i class='material-icons-outlined'>close</i>
  </button>

  <ul class='team__list list'>
    {{#each this}}
      <li class='team__member'>
        <img class='member__photo' src='{{photo}}' alt='{{name}}' />
        <div class='member__info'>
          <h3 class='member__heading'>{{name}}</h3>
        </div>
        <a class='member__social-link' href='{{social}}'>
          <i class='im im-github'></i>
        </a>
      </li>
    {{/each}}
  </ul>
</div>