<div class='footer-lightbox__card lightbox__card'>
  <button
    type='button'
    class='footer-lightbox__close-btn lightbox__close-btn'
    data-action='close-lightbox'
  >
    <i class='material-icons-outlined'>close</i>
  </button>
  {{! 
  <h2 class='footer-lightbox__heading'>Meet our awesome team ITeamChic</h2> }}

  <ul class='team__list list'>
    <li class='team__member'>
      <img class='team__photo' src='' alt='team__member' />
      <h3 class='team__subheading'>Inna Palchynska</h3>
      <p class='team__spec' lang='en'>Front-End developer</p>
      <a href='' class='social__link'>
        <svg class='social__icon'>
          <use href=''></use>
        </svg>
      </a>
    </li>
    <li class='team__member'>
      <img class='team__photo' src='' alt='team__member' />
      <h3 class='team__subheading'>Anastasia Solovei</h3>
      <p class='team__spec' lang='en'>Front-End developer</p>
      <a href='' class='social__link'>
        <svg class='social__icon'>
          <use href=''></use>
        </svg>
      </a>
    </li>
    <li class='team__member'>
      <img class='team__photo' src='' alt='team__member' />
      <h3 class='team__subheading'>Halyna Sinko</h3>
      <p class='team__spec' lang='en'>Front-End developer</p>
      <a href='' class='social__link'>
        <svg class='social__icon'>
          <use href=''></use>
        </svg>
      </a>
    </li>
    <li class='team__member'>
      <img class='team__photo' src='' alt='team__member' />
      <h3 class='team__subheading'>Dariia Nikolaieva</h3>
      <p class='team__spec' lang='en'>Front-End developer</p>
      <a href='' class='social__link'>
        <svg class='social__icon'>
          <use href=''></use>
        </svg>
      </a>
    </li>
    <li class='team__member'>
      <img class='team__photo' src='' alt='team__member' />
      <h3 class='team__subheading'>Korolchuk Kateryna</h3>
      <p class='team__spec' lang='en'>Front-End developer</p>
      <a href='' class='social__link'>
        <svg class='social__icon'>
          <use href=''></use>
        </svg>
      </a>
    </li>
    <li class='team__member'>
      <img class='team__photo' src='' alt='team__member' />
      <h3 class='team__subheading'>Sergiy Prodan</h3>
      <p class='team__spec' lang='en'>Front-End developer</p>
      <a href='' class='social__link'>
        <svg class='social__icon'>
          <use href=''></use>
        </svg>
      </a>
    </li>
  </ul>

</div>