<ul  class="header-buttons">
    <li class="header-buttons__item">
        <button class="button button--primary header-buttons__btn header-buttons__btn--active" data-header="watched" type="button">Watched</button>
    </li>
    <li class="header-buttons__item">
        <button class="button button--secondary header-buttons__btn" data-header="queue" type="button">queue</button>
    </li>
</ul>