<div class="search-field">
    <input type="text" name="searchQuery" placeholder="Поиск фильмов" class="search-field__input">
    <i class="material-icons">
        search
    </i>
    {{!-- <svg class="search-field__icon" width="12" height="12">
        <use href="../images/SVG/symbol-defs.svg#icon-search"></use>
    </svg> --}}
    <p class="search-field__error-text"></p>
</div>