<div class="search-field">
    <input type="text" name="searchQuery" placeholder="Поиск фильмов" class="search-field__input">
    <i class="material-icons md-18">
        search
    </i>
    <p class="search-field__error-text"></p>
</div>
