<div class="container">
    <nav class="header__nav">
        <a class="logo" href="./index.html">
            <svg class="logo__icon" width="24" height="24">
                <use href="./images/SVG/symbol-defs.svg#icon-film"></use>
            </svg>
            <p class="logo__title">Filmoteka</p>
        </a>
        <ul class="site-nav">
            <li class="site-nav__item">
                <a class="site-nav__link" href="./index.html">Home</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link site-nav__link--current" href="./library.html">my library</a>
            </li>
        </ul>        
    </nav>
    <button class="button" data-header="watched" >Watched</button>
    <button class="button" data-header="queue" >queue</button>
</div>