<section class="movies">
  <div class="container">
    <ul class="movies-list" style="list-style: none; padding: 0">
      <li class="movies-list__item">
        <div class="poster-thumb">
          <img
            src="https://images.pexels.com/photos/4473634/pexels-photo-4473634.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="movie"
            style="display: block; max-width: 100%; height: auto"
          />
        </div>
        <div class="movie-info">
          <h2 class="movie-info__title js-movie-info__title">Greyhound</h2>
          <p class="movie-info__details">
            <span class="movie-info__genres js-movie-info__genres">Dramahello, Action</span
            ><span class="movie-info__year js-movie-info__year">2020</span>
          </p>
        </div>
      </li>
      <li class="movies-list__item">
        <div class="poster-thumb">
          <img
            src="https://images.pexels.com/photos/4473634/pexels-photo-4473634.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="movie"
            style="display: block; max-width: 100%; height: auto"
          />
        </div>
        <div class="movie-info">
          <h2 class="movie-info__title js-movie-info__title">Greyhound</h2>
          <p class="movie-info__details">
            <span class="movie-info__genres js-movie-info__genres">Dramahello, Action</span
            ><span class="movie-info__year js-movie-info__year">2020</span>
          </p>
        </div>
      </li>
      <li class="movies-list__item">
        <div class="poster-thumb">
          <img
            src="https://images.pexels.com/photos/4473634/pexels-photo-4473634.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="movie"
            style="display: block; max-width: 100%; height: auto"
          />
        </div>
        <div class="movie-info">
          <h2 class="movie-info__title js-movie-info__title">Greyhound</h2>
          <p class="movie-info__details">
            <span class="movie-info__genres js-movie-info__genres">Dramahello, Action</span
            ><span class="movie-info__year js-movie-info__year">2020</span>
          </p>
        </div>
      </li>
      <li class="movies-list__item">
        <div class="poster-thumb">
          <img
            src="https://images.pexels.com/photos/4473634/pexels-photo-4473634.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="movie"
            style="display: block; max-width: 100%; height: auto"
          />
        </div>
        <div class="movie-info">
          <h2 class="movie-info__title js-movie-info__title">Greyhound</h2>
          <p class="movie-info__details">
            <span class="movie-info__genres js-movie-info__genres">Dramahello, Action</span
            ><span class="movie-info__year js-movie-info__year">2020</span>
          </p>
        </div>
      </li>
      <li class="movies-list__item">
        <div class="poster-thumb">
          <img
            src="https://images.pexels.com/photos/4473634/pexels-photo-4473634.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="movie"
            style="display: block; max-width: 100%; height: auto"
          />
        </div>
        <div class="movie-info">
          <h2 class="movie-info__title js-movie-info__title">Greyhound</h2>
          <p class="movie-info__details">
            <span class="movie-info__genres js-movie-info__genres">Dramahello, Action</span
            ><span class="movie-info__year js-movie-info__year">2020</span>
          </p>
        </div>
      </li>
      <li class="movies-list__item">
        <div class="poster-thumb">
          <img
            src="https://images.pexels.com/photos/4473634/pexels-photo-4473634.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="movie"
            style="display: block; max-width: 100%; height: auto"
          />
        </div>
        <div class="movie-info">
          <h2 class="movie-info__title js-movie-info__title">Greyhound</h2>
          <p class="movie-info__details">
            <span class="movie-info__genres js-movie-info__genres">Dramahello, Action</span
            ><span class="movie-info__year js-movie-info__year">2020</span>
          </p>
        </div>
      </li>
      <li class="movies-list__item">
        <div class="poster-thumb">
          <img
            src="https://images.pexels.com/photos/4473634/pexels-photo-4473634.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="movie"
            style="display: block; max-width: 100%; height: auto"
          />
        </div>
        <div class="movie-info">
          <h2 class="movie-info__title js-movie-info__title">Greyhound</h2>
          <p class="movie-info__details">
            <span class="movie-info__genres js-movie-info__genres">Dramahello, Action</span
            ><span class="movie-info__year js-movie-info__year">2020</span>
          </p>
        </div>
      </li>
      <li class="movies-list__item">
        <div class="poster-thumb">
          <img
            src="https://images.pexels.com/photos/4473634/pexels-photo-4473634.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="movie"
            style="display: block; max-width: 100%; height: auto"
          />
        </div>
        <div class="movie-info">
          <h2 class="movie-info__title js-movie-info__title">Greyhound</h2>
          <p class="movie-info__details">
            <span class="movie-info__genres js-movie-info__genres">Dramahello, Action</span
            ><span class="movie-info__year js-movie-info__year">2020</span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
