.container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    width: 618px;
  }

  @media screen and (min-width: $desktop) {
    width: 882px;
  }
}
