header{
    background-color: black; 
   color: get-textColor('light');
}

.header__nav{
    display: flex;
    justify-content: space-between;
   
    @media screen and (max-width: $max-mobile){
      margin-bottom: 43px; 
      align-items: center;
    }

    @media screen and (min-width: $tablet){
        margin-bottom: 37px; 
        align-items: baseline;
    }
   
   
}

.logo{
    display: flex;
    align-items: center;
    outline: none;
    
    @media screen and (min-width: $tablet){
      align-items: baseline;
    }
}

.logo:focus{
   outline: 1px solid get-navElColor('line-activ-link');
}

.logo__icon{
    display: block;
    
    @media screen and (min-width: $tablet){
    //   padding: 5px 0 0;
    //   margin-bottom: 8px;
      margin-right: 10px;
      color:#FFFFFF;
    }
    
}

.logo__text{

    @media screen and (max-width: $max-mobile){
        @include is-hidden;
    }
    font-weight: 500;
    font-size: getFont-size__tab('logo-title');
    line-height: 1.17;
    color: get-textColor('light');
}

.site-nav{
    display: flex;
}

.site-nav__item{
    position: relative;

    &:not(:last-child){
        margin-right: 40px;
    }
}

.site-nav__button{
    padding: 9px 0 0;
    font-weight: 500;
    font-size: getFont-size__mob('nav-text');
    line-height: 1.17;
    text-transform: uppercase;
    color: get-textColor('light');
    
    border: transparent;
    background-color: transparent;
    cursor: pointer;  
    outline:none;
}

.site-nav__button:focus{
   outline: 1px solid get-navElColor('line-activ-link');
}

.site-nav__button::after {
  content: '';
  position: absolute;
  bottom: -3px;

  display: block;
  width: 100%;
  height: 3px;
 
  background-color: get-navElColor('line-activ-link');
  opacity: 0;
  @include transition(opacity);
}

.site-nav__button--active::after,
.site-nav__button:hover::after,
.site-nav__button:focus::after {
  opacity: 1;
  
}

.search-field{
    position: relative;
    font-size:getFont-size__mob('search') ;
    text-align: center;   
}

.search-field__input{
    width: 280px;
    padding-bottom: 4px;
    margin-bottom: 21px;
    font-weight: 400;
    font-size: getFont-size__mob('search');;
    color: get-textColor('light');
    
    border: none;
    border-bottom: 0.5px solid #FFFFFF;
       
    background-color: transparent;
    outline:none;

    @media screen and (min-width: $tablet){
        width: 336px;
    }

        &::placeholder {
            font-size: getFont-size__mob('search');
            letter-spacing: 0.03em;
            color: get-textColor('light');
        }

  @include transition(border-color);

}

.search-field__input:hover,
.search-field__input:focus{
    
    border-color: get-navElColor('line-activ-link');
}

.search-field__input:focus{
   
    outline: 1px solid get-navElColor('line-activ-link');
    // outline-style: groove;
}

.search-field__error-text{
    font-size: getFont-size__mob('search');
    line-height: 1.14;
    color: get-textColor('notify');

    height: 32px;
    
    @media screen and (min-width: $tablet){
        height: 16px;
    }

}

.material-icons.md-18 {
    font-size: 18px;
    position: absolute;
    left: 94%;
    top: 0;

    @media screen and (min-width: $tablet)and (max-width: $max-tablet){
        left: 74.4%;
    }

    @media screen and (min-width: $desktop){
        left: 591px;
    }
}

.header-buttons{
    display: flex;
    justify-content: center;
    padding: 8px 0 22px;
    @media screen and (min-width: $tablet){
        padding: 8px 0 6px;
    }
    
}

.button{
    height: 44px;
    font-size: getFont-size__mob('nav-text');
    line-height: 1.33;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer; 
}

.header-buttons__btn:hover,
.header-buttons__btn:focus{
    color: get-textColor('light');
    border: 1px solid get-navElColor('button-primary');    
    background-color: get-navElColor('button-primary');
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
}

.header-buttons__btn{
   
    width: 130px;
    margin: 0 10px 0;
    color: get-textColor('light');
    border: 1px solid get-navElColor('button-secondary');
    background-color: transparent;

   @media screen and (min-width: $tablet){
       width: 136px;
   }
}
