@import './genres-filters';
@import './movies-list';
@import './header';
@import './header_logo_animation';
@import './header_background';
@import './preloader';
@import './movie-card-lightbox';
@import './footer';
@import './back_to_top';
@import './swith-toggle';
