.lightbox__card {
  width: 280px;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: get-bgColor('main');

  @media screen and(min-width: $tablet) {
    display: flex;
    align-items: flex-start;
    width: 618px;
    padding-top: 42px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and(min-width: $desktop) {
    width: 822px;
    padding-top: 50px;
  }
}

.lightbox__close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;

  border: none;
  border-radius: 50%;
  color: get-svgColor('close-cross');
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: get-svgColor('close-cross-hover');
  }
}

.lightbox__poster {
  width: 240px;
  margin-bottom: 30px;

  background-image: url(../images/SVG/image-off-outline.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;

  @media screen and(min-width: $tablet) {
    min-width: 264px;
    margin-bottom: 0px;
  }

  @media screen and(min-width: $desktop) {
    min-width: 396px;
  }
}

.lightbox__content {
  @media screen and(min-width: $tablet) {
    min-width: 264px;
    margin-left: 30px;
  }
}

.lightbox__img {
  width: 100%;
  height: 357px;
  object-fit: contain;

  @media screen and(min-width: $tablet) {
    height: 374px;
  }

  @media screen and(min-width: $desktop) {
    height: 478px;
  }
}

.lightbox__title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: getFont-size__mob('name-film-modal');
  line-height: 1.15;
  text-transform: uppercase;

  color: get-textColor('main');

  @media screen and(min-width: $desktop) {
    font-size: getFont-size__desk('name-film-modal');
    line-height: 1.17;
  }
}

.movie-info {
  padding-top: 0px;
  padding-bottom: 0px;
}

.movie-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &:nth-child(4) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
}

.movie-info__param {
  font-weight: 500;
  font-size: getFont-size__mob('text-modal');
  line-height: 1.33;

  color: get-textColor('modal');

  &--about {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: get-textColor('main');
  }
}

.movie-info__text {
  font-size: getFont-size__mob('text-modal');
  font-weight: 500;
  color: get-textColor('main');
  line-height: 1.16;
  text-transform: uppercase;
}

.movie-info__votes {
  margin-left: 41px;
}

.movie-info__votes--average {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
  color: get-textColor('light');
  background-color: get-navElColor('votes-avarage-lightbox');
  border-radius: 5px;
}

.movie-info__votes--count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
  text-align: center;
  background-color: get-navElColor('votes-count-lightbox');
  border-radius: 5px;
}

.movie-info__popularity {
  margin-left: 53px;
}

.movie-info__orig-title {
  margin-left: 39px;
  line-height: 1.33;
}

.movie-info__genre {
  margin-left: 76px;
  line-height: 1.33;
  text-transform: unset;
}

.movie-info__descr {
  text-transform: initial;
  line-height: 1.67;
}

.lightbox__button {
  width: 112px;
  height: 44px;
  background-color: transparent;
  border: 1px solid get-navElColor('button-lightbox');
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: get-textColor('main');

  @media screen and(min-width: $tablet) {
    width: 125px;
  }

  @media screen and(min-width: $desktop) {
    width: 136px;
  }

  &:not(:first-child) {
    margin-left: 15px;
  }

  &:focus,
  &:hover {
    background-color: get-navElColor('button-primary');
    border: none;
    color: get-textColor('light');
  }
}

.lightbox__buttons-overlay {
  display: flex;
  align-items: center;
}

.about-trailer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.align-item__trailer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5px;
}

.trailer {
  margin-left: 65px;
  width: 80px;
  height: 24px;
  background-color: transparent;
  border: 1px solid get-navElColor('button-lightbox');
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: get-textColor('main');

  @media screen and(min-width: $tablet) {
    width: 85px;
  }

  @media screen and(min-width: $desktop) {
    width: 105px;
  }

  &:focus,
  &:hover {
    background-color: get-navElColor('button-primary');
    border: none;
    color: get-textColor('light');
  }
}

.trailer-play__icon {
  fill: red;
}
